[submodule "conf.d/app-templates"]
	path = conf.d/app-templates
	url = https://gerrit.automotivelinux.org/gerrit/p/apps/app-templates.git
[submodule "afb-utilities"]
	path = afb-utilities
	url = git@github.com:iotbzh/afb-utilities
[submodule "ctl-utilities"]
	path = ctl-utilities
	url = git@github.com:fulup-bzh/ctl-utilities
